   .card-body img#post-image{
        width: 100%
        height: max-content
   } 

   .post-body-content p {
        padding: 2rem 0;
        text-align: justify;
   }

   #post-title {
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
   }